
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-file {
        max-width: 50rem;
        overflow: hidden;
    }

    .custom-file-label {
        white-space: nowrap;
    }

    .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: "選択";
    }

    .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + 0.75rem);
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        content: "選択";
        border-left: inherit;
        border-radius: 0 0.25rem 0.25rem 0;
    }

    .nav-pills .nav-link {
        border-radius: 0rem;
        background-color: ghostwhite;
    }

    .my-nav-pills .nav-link {
        border-radius: 0rem;
        background-color: ghostwhite;
    }

        .my-nav-pills .nav-link.active,
        .my-nav-pills .show > .nav-link {
            color: white;
            background-color: cornflowerblue;
        }
</style>
<link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<h3>■帳票詳細</h3>
<div class="container-fluid border mt-2" style="background-color:ghostwhite">
    <form class="mt-2 mb-2">
        <div class="row text-nowrap">
            <div class="form-inline col-2">
                <label for="formNo" class="">
                    【帳票No】
                </label>
                <input id="formNo" type="text" class="form-control col-12" value="1003" readonly />
            </div>
            <div class="form-inline col-2">
                <label for="examId" class="">
                    【試験ID】
                </label>
                <input id="examId" type="text" class="form-control col-12" value="20-1009-2" readonly />
            </div>
            <div class="form-inline col-4">
                <label for="examName" class="">
                    【試験名】
                </label>
                <input id="examName" type="text" class="col-12 form-control" value="2020年度入学試験" readonly />
            </div>
            <div class="form-inline col-4">
                <label for="formName" class="">
                    【帳票名】
                </label>
                <input id="formName" type="text" class="col-12 form-control" value="2020年度入学試験 国語" readonly />
            </div>
        </div>
    </form>
</div>
<ul class="nav nav-pills shadow nav-fill flex-column flex-lg-row text-lg-center mt-2" style="font-size:20px" role="tablist">
    <li class="nav-item ">
        <a class="nav-link border active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true" onmouseover="HelpTextChange('答案用紙の画像を登録します');" onmouseout="HelpTextChange('');">
            帳票イメージ登録
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" style="font-size:24px" data-html="true" data-delay="500" title="<h5>答案用紙の画像を登録します</h5>"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link border" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false" onmouseover="HelpTextChange('設問ごとの設定を行います');" onmouseout="HelpTextChange('');">
            項目登録
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" style="font-size:24px" data-html="true" data-delay="500" title="<h5>設問ごとの設定を行います</h5>"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link border" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false" onmouseover="HelpTextChange('解答画像や配点の設定を行います');" onmouseout="HelpTextChange('');">
            正答・配点登録
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" style="font-size:24px" data-html="true" data-delay="500" title="<h5>解答画像や配点の設定を行います</h5>"></i>
        </a>
    </li>
</ul>
<div class="tab-content border">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <h4 class="mt-2">■帳票イメージ登録</h4>
        <ul class="nav my-nav-pills mt-2" role="tablist">
            <li class="nav-item shadow">
                <a class="text-sm-center border nav-link active" id="pills-whole-tab" data-toggle="tab" href="#pills-whole" role="tab" aria-controls="pills-whole" aria-selected="true">全体イメージ登録</a>
            </li>
            <li class="nav-item shadow">
                <a class="text-sm-center border nav-link" id="pills-part-tab" data-toggle="tab" href="#pills-part" role="tab" aria-controls="pills-part" aria-selected="false">解答部イメージ</a>
            </li>
        </ul>
        <div class="tab-content border shadow">
            <div class="tab-pane fade show active" id="pills-whole" role="tabpanel" aria-labelledby="pills-whole-tab">
                <div class="row">
                    <div class="col form-group ml-2 mt-2">
                        <div id="file" class="input-group">
                            <div class="custom-file">
                                <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
                                <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary reset">取消</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center mt-2">
                        <p>
                            <button type="button" class="btn btn-outline-primary align-content-center">登　録</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-outline-danger align-baseline">削　除</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-part" role="tabpanel" aria-labelledby="pills-part-tab">
                <div class="row">
                    <div class="col form-group mt-2 ml-2">
                        <div id="file" class="input-group">
                            <div class="custom-file">
                                <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
                                <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary reset">取消</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center mt-2">
                        <p>
                            <button type="button" class="btn btn-outline-primary align-content-center">登　録</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-outline-danger align-baseline">削　除</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <h4 class="mt-2">■項目登録</h4>
        <div class="form-group mt-2 ml-2">
            <div id="file" class="input-group">
                <div class="custom-file">
                    <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
                    <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary reset">取消</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6 border-right">
                <h5>【項目リスト】</h5>
                <table class="table table-bordered table-sm border">
                    <thead>
                        <tr class="text-center" style="background-color:ghostwhite">
                            <th data-id="repoNo" class="">No</th>
                            <th class="">項目名</th>
                            <th class="">画像識別ID</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" style="cursor:pointer">
                        <tr onclick="">
                            <td>1</td>
                            <td>帳票判定</td>
                            <td>T-01</td>
                        </tr>
                        <tr onclick="">
                            <td>2</td>
                            <td>受験番号</td>
                            <td>T-02</td>
                        </tr>
                        <tr onclick="">
                            <td>3</td>
                            <td>性別</td>
                            <td>T-03</td>
                        </tr>
                        <tr onclick="">
                            <td>4</td>
                            <td>受験者氏名</td>
                            <td>T-04</td>
                        </tr>
                        <tr onclick="">
                            <td>5</td>
                            <td>1①</td>
                            <td>1-1</td>
                        </tr>
                        <tr onclick="">
                            <td>6</td>
                            <td>1②</td>
                            <td>1-2</td>
                        </tr>
                        <tr onclick="">
                            <td>7</td>
                            <td>2①ア</td>
                            <td>2-1-1</td>
                        </tr>
                        <tr onclick="">
                            <td>8</td>
                            <td>2①イ</td>
                            <td>2-1-2</td>
                        </tr>
                        <tr onclick="">
                            <td>9</td>
                            <td>2②</td>
                            <td>2-2</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="container-fluid text-nowrap col-6">
                <form>
                    <div class="form-group">
                        <p class="form-inline">
                            <label class="col-auto" for="inExamId">項目種別：</label>
                            <select id="inExamId" class="col-auto form-control custom-select">
                                <option value='' selected></option>
                                <option value='帳票識別'>帳票識別</option>
                                <option value='データ項目'>データ項目</option>
                                <option value='設問'>設問</option>
                                <option value='選択項目'>マーク項目</option>
                                <option value='アンケート'>アンケート</option>
                            </select>
                        </p>
                        <p class="form-inline">
                            <label class="col-auto" for="">問題種別：</label>
                            <select id="inExamId" class="col-auto form-control custom-select">
                                <option value='' selected></option>
                                <option value='帳票識別'>単E</option>
                                <option value='データ項目'>単M</option>
                                <option value='設問'>単H</option>
                            </select>
                            <select id="inExamId" class="col-auto form-control custom-select">
                                <option value='' selected></option>
                                <option value='帳票識別'>正誤・横</option>
                                <option value='データ項目'>正誤・縦</option>
                                <option value='設問'>配点入力・横</option>
                                <option value='設問'>配点入力・縦</option>
                            </select>
                        </p>
                        <p class="form-check form-check-inline">
                            <label class="col-auto form-check-label" for="">複数採点：</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
                                <label class="form-check-label" for="radio1a">有り</label>
                                <select id="" class="form-control custom-select">
                                    <option value='' selected>2</option>
                                    <option value='帳票識別'>3</option>
                                    <option value='データ項目'>4</option>
                                    <option value='設問'>5</option>
                                </select>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio1" id="radio1b">
                                <label class="form-check-label" for="radio1b">無し</label>
                            </div>
                        </p>
                        <p class="form-inline">
                            <label class="col-auto" for="bachiCount">
                                振分けバッチ数：
                            </label>
                            <input id="bachiCount" type="text" class="bg-white form-control" />
                        </p>
                        <p class="form-inline">
                            <label class="col-auto" for="bachiCount">
                                自動振り分けグループ：
                            </label>
                            <select id="" class="form-control custom-select">
                                <option value='' selected></option>
                                <option value=''>グループ1</option>
                                <option value=''>グループ2</option>
                                <option value=''>グループ3</option>
                            </select>
                        </p>
                        <div class="container col-4 mt-5">
                            <p>
                                <a id="detailButton" type="button" class="btn form-control btn-outline-success text-center mb-5" asp-area="" asp-controller="FormDefinition" asp-action="Detail" style="display:none">詳　細</a>
                            </p>
                            <p>
                                <button id="scoringOrder" type="button" class="form-control btn-outline-primary" onclick="Regist();">追　加</button>
                            </p>
                            <p>
                                <button id="scoringOrder" type="button" class="form-control btn-outline-primary" onclick="">登　録</button>
                            </p>
                            <p>
                                <button id="scoringOrder" type="button" class="form-control btn-outline-danger" onclick="">削　除</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
        <h4 class="mt-2">■正答・配点登録</h4>
        <div class="row">
            <div class="col-4 border-right">
                <h5>【項目リスト】</h5>
                <table class="table table-bordered table-sm border">
                    <thead>
                        <tr class="text-center col-12" style="background-color:ghostwhite">
                            <th style="width:100px">No</th>
                            <th style="width:300px">項目名</th>
                            <th style="width:100px">配点</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" style="cursor:pointer">
                        <tr onclick="">
                            <td>1</td>
                            <td>1①</td>
                            <td><input type="text" class="input-group-sm text-center w-100 border-0 p-0 m-0" value="20" /></td>
                        </tr>
                        <tr onclick="">
                            <td>2</td>
                            <td>1②</td>
                            <td><input type="text" class="input-group-sm text-center w-100 border-0" value="20" /></td>
                        </tr>
                        <tr onclick="">
                            <td>3</td>
                            <td>2①ア</td>
                            <td><input type="text" class="input-group-sm text-center w-100 border-0" value="20" /></td>
                        </tr>
                        <tr onclick="">
                            <td>4</td>
                            <td>2①イ</td>
                            <td><input type="text" class="input-group-sm text-center w-100 border-0" value="20" /></td>
                        </tr>
                        <tr onclick="">
                            <td>5</td>
                            <td>2②</td>
                            <td><input type="text" class="input-group-sm text-center w-100 border-0" value="20" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid text-nowrap col-8">
                <div class="row">
                    <div class="col-6 border-right">
                        <h5>■模範解答登録</h5>
                        <div class="form-group">
                            <div id="file" class="input-group mr-1 ml-1">
                                <div class="custom-file">
                                    <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
                                    <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary reset">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>■ヘルプ情報登録</h5>
                        <div class="form-group">
                            <div id="file" class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
                                    <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary reset">取消</button>
                                </div>
                            </div>
                        </div>
                        <p>
                            <div class="form-group mr-1">
                                <label for="commentArea">【ヘルプコメント】</label>
                                <textarea class="form-control" id="commentArea" rows="3"></textarea>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="container col-4 mt-5">
                    <p>
                        <button id="scoringOrder" type="button" class="form-control btn-outline-primary" onclick="">登　録</button>
                    </p>
                    <p>
                        <button id="scoringOrder" type="button" class="form-control btn-outline-danger" onclick="">削　除</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $('.custom-file-input').on('change', handleFileSelect);
        function handleFileSelect(evt) {
            $('#preview').remove();// 繰り返し実行時の処理
            $(this).parents('.input-group').after('<div id="preview"></div>');

            var files = evt.target.files;

            for (var i = 0, f; f = files[i]; i++) {

                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        if (theFile.type.match('image.*')) {
                            var $html = ['<div class="d-inline-block mr-1 mt-1"><img class="img-thumbnail w-auto h-auto" src="', e.target.result, '" title="', escape(theFile.name), '"" /><div class="small text-muted text-center">', escape(theFile.name), '</div></div>'].join('');// 画像では画像のプレビューとファイル名の表示
                            $('#preview').append($html);
                            $(this).next('.custom-file-label').html(+ files.length + '個のファイルを選択しました');

                        } else {
                            alert('画像を選択してください');
                            //var $html = ['<div class="d-inline-block mr-1"><span class="small">', escape(theFile.name),'</span></div>'].join('');//画像以外はファイル名のみの表示
                        }

                    };
                })(f);

                reader.readAsDataURL(f);
            }
        }

        //ファイルの取消
        $('.reset').click(function () {
            $(this).parent().prev().children('.custom-file-label').html('ファイル選択...');
            $('#preview').remove();
            $('.custom-file-input').val('');
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}


