
@{
    ViewData["Title"] = "帳票定義一覧";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
<h3>■帳票定義</h3>
@*<div class="container-fluid">
    <div class="row">
        <div class="input-group justify-content-end">
            <input type="button" class="col btn btn-primary mr-2" value="イメージ登録" onmouseover="HelpTextChange('試験の画像を登録・設定します');" onmouseout="HelpTextChange('ヘルプテキスト');" />
            <input type="button" class="col btn btn-primary mr-2" value="項目登録" />
            <input type="button" class="col btn btn-primary " value="解答・配点登録" />
        </div>
    </div>
</div>*@
<div class="container-fluid border mt-2" style="background-color:ghostwhite">
    <h5>■表示条件変更</h5>
    <form class="mt-2">
        <div class="row text-nowrap">
            <div class="col-2">
                <label for="formNo" class="">
                    【帳票No】
                </label>
                <input id="formNo" type="text" class="bg-white form-control" />
            </div>
            <div class="col-2">
                <label for="examId">
                    【試験ID】
                </label>
                <input id="examId" type="text" class="bg-white form-control" />
            </div>
            <div class="col-3">
                <label for="examName">
                    【試験名】
                </label>
                <input id="examName" type="text" class="col-12 bg-white form-control" />
            </div>
            <div class="col-3">
                <label for="formName">
                    【帳票名】
                </label>
                <input id="formName" type="text" class="bg-white form-control" />
            </div>
            <div class="col-2 text-center mt-3 mb-4">
                <button type="submit" class="btn-lg form-control btn-outline-primary">表示切替</button>
            </div>
        </div>
    </form>
</div>
<div class="border-top border mt-2 mb-2"></div>
<h5 class="ml-1">■帳票定義一覧</h5>
<div class="row">
    <div class="col-10 justify-content-between text-nowrap">
        <div class="container-fluid mt-4">
            <table id="repoTable" class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center" style="background-color:ghostwhite">
                        <th data-id="repoNo" class="">帳票No</th>
                        <th class="">試験ID</th>
                        <th class="">試験名</th>
                        <th class="">帳票名</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer">
                    @for (var count = 1; count <= 20; count++)
                    {
                        <tr id=@("repoTable" + (1000 + count)) onclick="FormDetail('repoTable' + @(1000 + count));">
                            <td>@(1000 + count)</td>
                            <td>@("20-1009-" + 1)</td>
                            <td>2020年度入学試験</td>
                            <td>2020年度入学試験 国語</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-2 shadow" style="background-color:aliceblue">
        <div class="container-fluid text-nowrap">
            <form>
                <div class="form-group">
                    <p class="form-inline mt-3 justify-content-start">
                        <label class="col-auto justify-content-start" for="">帳票No：</label>
                        <input id="inFormNo" type="text" class="col-auto form-control" value="" onclick="" readonly />
                    </p>
                    <p class="form-inline">
                        <label class="col-auto" for="inExamId">試験ID：</label>
                        <select id="inExamId" class="col-auto form-control custom-select">
                            <option value='' selected></option>
                            <option value='2020年度入学試験'>20-1009-1</option>
                            <option value='2021年度入学試験'>21-1009-2</option>
                            <option value='2022年度入学試験'>22-1009-3</option>
                            <option value='2023年度入学試験'>23-1009-4</option>
                            <option value='2024年度入学試験'>24-1009-5</option>
                        </select>
                    </p>
                    <p class="form-inline">
                        <label class="col-auto" for="">試験名：</label>
                        <input id="inExamName" type="text" class="col-12 form-control" value="" onclick="" readonly />
                    </p>
                    <p class="form-group">
                        <label class="col-auto" for="inFormName">帳票名：</label>
                        <input id="inFormName" type="text" class="form-control bg-white" value="" onclick="" />
                    </p>
                    <p class="form-inline">
                        <label class="col-auto" for="inSubject">科目：</label>
                        <select id="inSubject" class="col-auto form-control custom-select" onclick="">
                            <option value='' selected></option>
                            <option value='国語'>国語</option>
                            <option value='数学'>数学</option>
                            <option value='理科'>理科</option>
                            <option value='社会'>社会</option>
                            <option value='英語'>英語</option>
                        </select>
                    </p>
                    <p class="form-inline mt-3">
                        <label class="col-auto" for="">項目数：</label>
                        <input id="inItemCount" type="text" class="col-auto form-control input-group-text" value="" onclick="" readonly />
                    </p>
                    <p class="form-inline mt-3">
                        <label class="col-auto" for="inTotalScore">満点：</label>
                        <input id="inTotalScore" type="tel" oninput="value = value.replace(/[^0-9]+/i,'');" class="col-auto form-control input-group-text bg-white" value="" />
                    </p>
                    <div class="container mt-5">
                        <p>
                            <a id="detailButton" type="button" class="btn form-control btn-outline-success text-center mb-5" asp-area="" asp-controller="FormDefinition" asp-action="Detail" style="display:none">詳　細</a>
                        </p>
                        <p>
                            <button id="scoringOrder" type="button" class="form-control btn-outline-primary" onclick="Regist();">登　録</button>
                        </p>
                        <p>
                            <button id="scoringOrder" type="button" class="form-control btn-outline-primary" onclick="">複　製</button>
                        </p>
                        <p>
                            <button id="scoringOrder" type="button" class="form-control btn-outline-danger" onclick="">削　除</button>
                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            // datatableの設定を変更
            $("#repoTable").DataTable({
                oLanguage: {
                    /* 日本語化設定 */
                    sLengthMenu: "表示　_MENU_　件", // 表示行数欄(例 = 表示 10 件)
                    oPaginate: { // ページネーション欄
                        sNext: "次へ",
                        sPrevious: "前へ"
                    },
                    sInfo: "_TOTAL_ 件中 _START_件から_END_件 を表示しています", // 現在の表示欄(例 = 100 件中 20件から30件 を表示しています)
                    sSearch: "検索 ", // 検索欄(例 = 検索 --)
                    sZeroRecords: "表示するデータがありません", // 表示する行がない場合
                    sInfoEmpty: "0 件中 0件 を表示しています", // 行が表示されていない場合
                    sInfoFiltered: "全 _MAX_ 件から絞り込み" // 検索後に総件数を表示する場合
                },
                // 件数切替機能 無効
                lengthChange: true,
                // 検索機能 無効
                searching: true,
                // ソート機能 無効
                ordering: true,
                // 情報表示 無効
                info: true,
                // ページング機能 無効
                paging: true,
                // 初期表示時には並び替えをしない
                order: [],
                //columnDefs: [
                //    { targets: 1, width: 100 }
                //],
                // 状態を保存する機能をつける
                stateSave: true,
                //scrollX: true,
            });
        });
        window.onload = function () {
            $('#inExamId').change(examIdChange);
            $('#repoTable').on('page.dt', function () {
                PageRefresh();
            });
        };

        function FormDetail(repoNo) {
            PageRefresh();
            $('#' + repoNo).css({ 'background-color': 'cyan' });
            var dataArr = $('#' + repoNo)[0].innerText.split('\t');
            //alert(dataArr[0]);
            $('#inFormNo').val(dataArr[0]);
            //alert($('#inExamId').val(dataArr[2]).val());
            $('#inExamId').val(dataArr[2]);
            $('#inExamName').val(dataArr[2]);
            $('#inFormName').val(dataArr[2]);
            $('#inSubject').val('国語');
            $('#inItemCount').val('20');
            $('#inTotalScore').val('300');
            $('#detailButton').css('display', 'block');
        }
        function examIdChange() {
            $('#inExamName').val($('#inExamId').val());
        };

        function PageRefresh() {
            $('tbody > tr').css({ 'background-color': '' });
            $('#inFormNo').val('');
            $('#inExamId').val('');
            $('#inExamName').val('');
            $('#inFormName').val('');
            $('#inSubject').val('');
            $('#inItemCount').val('');
            $('#inTotalScore').val('');
            $('#detailButton').css('display', 'none');
        };

        function Regist() {

        };
    </script>
}

